<div class="home">
    <div class="col">
        <label class="label" for="message">Message</label>
        <input class="form" type="text" id="message">
    </div>
    <div class="col">
        <label class="label" for="type">Type</label>
        <select class="form" id="type">
            <option value="">Warning</option>
            <option value="">Success</option>
            <option value="">Info</option>
        </select>
    </div>
    <div class="col">
        <button class="button">Send</button>
    </div>
</div>